
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

////////////////////////////////
// CODEWORDS
////////////////////////////////

$blue: #635FB9;
$brown: #917355;

.codewords-table {
  tr {
    td {
      height: 100px;
      width: 20%;
    }
  }
}

.codewords-card {
  width: 95%;
  height: 90%;
  background-color: rgba($black, .2);
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 5px grey;
  .codewords-word {
    width: 95%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    &.counter-flip {
      z-index: 901;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      transform: rotateY(-180deg) translate(50%,-50%);
    }
  }
  &.blue-team {
    background-color: $blue;
  }
  &.red-team {
    background-color: $red;
  }
  &.neutral-team {
    background-color: $brown;
  }
  &.flip {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: transform .4s;
  }
}
